   <h2>Galeria</h2>
 <div class="titulos">
            <h5>Diseño Gráfico</h5>
        </div>
        <div class="galeria">
            <div class="foto">
                <img src="images/galeria/Malon.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/galeria/alternativa.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/galeria/elysee.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/galeria/lala.jpg" alt="">
            </div>
        </div>



        <div class="titulos">
            <h5>Objetos</h5>
        </div>
        <div class="galeria">
            <div class="foto">
                <img src="images/galeria/Buff.jpeg" alt="">
            </div>
            <div class="foto">
                <img src="images/galeria/Combo.jpeg" alt="">
            </div>
            <div class="foto">
                <img src="images/galeria/Agenda.png" alt="">
            </div>
            <div class="foto">
                <img src="images/galeria/Llavero.jpeg" alt="">
            </div>
        </div>

       
       
        <div class="titulos">
            <h5>Ilustraciones</h5>
        </div>

        <div class="galeria">
            <div class="foto">
                <img src="images/galeria/ballena.jpg" alt="">
            </div>

            <div class="foto">
                <img src="images/galeria/caracoles.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/galeria/flora.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/galeria/Mutisias.jpg" alt="">
            </div>
            <div class="foto">
                <img src="images/galeria/Pingui.jpg" alt="">
            </div>


        </div>

